*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(175, 252, 226);
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.own_no{
    display: none;
    flex-direction: column;
    gap: 10px;
    
}

.own_yes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field input{
    width: 40px;
    text-align: center;
}